<!DOCTYPE html>
<html>
<head>
  <%- include ("../../../partials/admin/include/stylesheet.ejs") %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- include ("../../../partials/admin/include/header.ejs") %>
    <!-- Left side column. contains the logo and sidebar -->
    <%- include ("../../../partials/admin/include/LeftNav.ejs") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard Member Create
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      

      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ("../../../partials/admin/include/footer.ejs") %>

</div>
<!-- ./wrapper -->
<%- include ("../../../partials/admin/include/javascript.ejs") %>
</body>
</html>
