<!DOCTYPE html>
<html>
<head>
  <%- include ("../../../partials/admin/include/stylesheet.ejs") %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- include ("../../../partials/admin/include/header.ejs") %>
    <!-- Left side column. contains the logo and sidebar -->
    <%- include ("../../../partials/admin/include/LeftNav.ejs") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard Member List
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class='col-md-12'>
          <div class='box'>
            <div class='box-header'>
              <h3 class="box-title">Member List</h3>
              <div class="box-tools pull-right">
                <div class="search">
                  <div class="form-group">
                    <select class="select2" name="type" id="type">
                      <option value="r">Role</option>
                      <option value="">Id</option>
                      <option value="">Name</option>
                    </select>
                    <input type="text" name="keyword" id="keyword" placeholder="Search ...">
                    <button type="button" name="SearchBtn" id="SearchBtn">Search</button>
                  </div>
                  <!--./form-group-->
                </div>
                <!-- ./search-->
              </div>
              <!--./box-tools -->
            </div>
            <!--./box-header-->
            <div class="box-body">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr style="text-align:center;">
                    <td><input type="checkbox" id="AllCheck" ></td>
                    <td>User Email</td>
                    <td>User Name</td>
                    <td>User Roles</td>
                    <td>Registe Time</td>
                    <td>Update Time</td>
                  </tr>
                </thead>
                <!--./thead-->
                <tbody>
                <%if(list){%>
                  <% list.forEach(items=>{%>
                    <tr style="text-align:center;">
                    <td ><input type="checkbox"  name="check" value="<%=items.id%>"></td>
                    <td><a href="/admin/boards/view?bno=<%=items.id%>"><%=items.userEmail%></a></td>
                    <td><%=items.userName%></td>
                    <td><span class="badge bg-aqua"><%=items.role%></span></td>
                    <td><%=items.createdAt.getFullYear() + "년" + (items.createdAt.getMonth() + 1) + "월" + (items.createdAt.getDate()) + "일" + (items.createdAt.getHours()) + "시" + (items.createdAt.getMinutes()) + "분" %></td>
                    <td><%=items.updatedAt.getFullYear() + "년" + (items.updatedAt.getMonth() + 1) + "월" + (items.updatedAt.getDate()) + "일" + (items.updatedAt.getHours()) + "시" + (items.updatedAt.getMinutes()) + "분" %></td>
                  </tr>
                  <%});%>
                <%}%>
                </tbody>
                <!--./tbody-->
              </table>
              <!--./table-->
              <!-- <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate" style="text-align:center;"> 
                <ul class="pagination">
                  <li class="paginate_button previous"  id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li>
                  <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li>
                </ul>
              </div> -->
              <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate" style="text-align:center;"> 
                <ul class="pagination">
                  <%if(PageMaker.prev != false){%>
                    <li class="pagination_button previous" id="example2_previous"><a href="/admin/members/list?page=<%=PageMaker.startPage -1 %>" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li>
                  <%}%>
                  
                  <%if(PageMaker.startPage <=PageMaker.endPage){%>
                    <%for(var i = PageMaker.startPage; i <= PageMaker.endPage; i++){%>
                      
                      <%if(i == PageMaker.curPage){%>
                        <li class="paginate_button active"><a href="/admin/members/list?page=<%=i%>"><%=i%></a></li>
                      <%}else{%>
                        <li class="paginate_button"><a href="/admin/members/list?page=<%=i%>"><%=i%></a></li>
                      <%}%>
                    <%}%>
                  <%}%>
                  <%if(PageMaker.next != false){%>
                    <li class="paginate_button next" id="example2_next"><a href="/admin/members/list?page=<%=PageMaker.endPage + 1%>" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li>
                  <%}%>
                </ul>
              </div>
              <!--./paging-->
            </div>
            <!--./box-body-->
            <div class="box-footer">
              <div class="pull-left">
                <button type="button" class="btn btn-flat btn-danger" id="DeleteBtn">Delete</button>
              </div>
              <!-- ./pull-left -->
              <div class="pull-right">
                <button type="button" class="btn btn-flat btn-warning" id="ModifyBtn">Modify</button>
                <button type="button" class="btn btn-flat btn-primary" id="RegisteBtn">Registe</button>
              </div>
              <!-- ./pull-right -->
            </div>
            <!-- ./box-footer -->
          </div>
          <!--./box-->
        </div>
        <!--./col-md-12-->
      </div>
      <!--./row-->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ("../../../partials/admin/include/footer.ejs") %>

</div>
<!-- ./wrapper -->
<%- include ("../../../partials/admin/include/javascript.ejs") %>
</body>
<script>
  $(document).ready(function(){
    /** Check Box all */
     function AllCheck(){
      $("#AllCheck").click(function(){
        if($(this).is(':checked')){
          $("input[name=check]").prop("checked", true);
        }else{
          $("input[name=check]").prop("checked", false);
        }
      });
    }
    /** Registe Page */
    function Registe(){
      $("#RegisteBtn").click(function(){
        document.location.href="/admin/members/create";
      });
    }
    /** */
    AllCheck();
  });
</script>
</html>
